@model IEnumerable<TeCAS.Dtos.CuentaDeAhorroDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="~/CuentasDeAhorros/Agregar?clienteId=@ViewBag.ClienteId">Agregar nueva cuenta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDeCuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroDeCuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaldoActual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeRegistro)
                </td>
                <td>
                    @Html.ActionLink("Depositar", "Depositar", "CuentaDeAhorroDetalles", new { cuentaDeAhorroId = item.Id }) |
                    @Html.ActionLink("Retirar", "Retirar","CuentaDeAhorroDetalles", new {  cuentaDeAhorroId=item.Id }) |
                    @Html.ActionLink("Estado de cuenta", "Index","EstadosDeCuenta", new {  cuentaDeAhorroId=item.Id })
                    @if (item.SaldoActual == 0)
                    {
                        <span>|</span>

                        @Html.ActionLink("Borrar", "Borrar", new {  id=item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
